section#list_editor {
    display: none;
}

section#list_editor table {
    border-spacing: 10px 5px;
}

section#list_editor table thead tr th {
    text-align: center;
}

section#list_editor table thead tr th:nth-child(2) {
    width: 60px;
}

section#list_editor table thead tr th#list_label {
    text-align: left;
}

section#list_editor table tbody tr td input {
    width: 160px;

    margin: 0px;
}

section#list_editor table tbody tr td input#new_type_0 {
    color: var(--vscode-input-placeholderForeground);
}

section#list_editor table tbody tr td select {
    width: 50px;
}

section#list_editor table tbody tr td button {
    margin-right: 5px;
    padding: 3px 6px;
}
