/* Global */

* {
    margin: 0px;
    border: none;
    padding: 0px;

    user-select: none;
}

:focus {
    outline-color: var(--vscode-focusBorder) !important;
}

/* specified */

hr {
    height: 2px;

    margin: 4px 0px;

    background-color: var(--vscode-activityBar-background);
}

h3 {
    display: inline;

    height: 20px;
}

/* Common */

body {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

img {
    float: right;

    width: 20px;
}

img:hover {
    cursor: pointer;
}

section {
    display: flex;

    flex-direction: column;

    margin: 20px 10px;
    padding: 20px;

    background-color: var(--vscode-sideBar-background);
}

.hide {
    visibility: hidden;
}

/* editor */

section#editor {
    display: none;

    width: 222px;
}

section#editor section#detail_panel {
    display: none;

    margin: 0px;
    padding: 0px;
}

section#editor label {
    display: flex;

    flex-wrap: wrap;
    align-items: center;

    width: 100%;
    max-width: 250px;
    min-height: 30px;

    margin: 5px;
}

section#editor label span {
    width: 40px;

    margin: 3px 0px;
}

section#editor label input, select, textarea {
    width: 170px;
    height: var(--vscode-input-height);

    margin: 3px 0px;
    padding: 3px 4px;

    color: var(--vscode-input-foreground);

    background-color: var(--vscode-input-background);
}

input#select_time {
    width: 107px;
}

textarea {
    font-family: inherit;

    resize: none;
}

select {
    width: 115px;
}

select#weekly {
    width: 50px;
}

option:first-child {
    color: var(--vscode-input-placeholderForeground);
}

button {
    width: 224px;

    margin: 5px;
    padding: 6px;

    outline: 1px solid transparent;
    outline-offset: 2px;

    color: var(--vscode-button-foreground);

    text-align: center;

    align-self: center;
    background: var(--vscode-button-background);
}

button:hover {
    background: var(--vscode-button-hoverBackground);
    cursor: pointer;
}

button#show_detail {
    display: flex;

    justify-content: center;
    align-items: center;

    width: 222px;

    padding: 0px;

    outline-color: var(--vscode-input-background);
    outline-offset: 0px;

    color: var(--vscode-input-foreground);

    background-color: var(--vscode-sideBar-background);
}

button#show_detail img {
    float: none;
}

button#show_detail img#arrow_up {
    display: none;
}

/* log */

section#log {
    width: 600px;
    max-width: 600px;
    min-height: 400px;
}

section#log ul {
    padding-left: 20px;
}

section#log ul li span.time_information {
    font-size: 10px;
    font-weight: bold;
    line-height: 20px;
}

/* item_information */

section#item_information {
    display: none;

    min-width: 222px;
}

section#item_information p {
    display: flex;

    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;        /* 设置条目标题垂直居中或者置顶 */

    line-height: 20px;
}

section#item_information p span {
    display: inline-block;

    margin: 5px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--vscode-activityBar-background);
    padding: 3px;

    flex-shrink: 0;
}

section#item_information p span.value {
    word-wrap: normal;

    border-right-color: var(--vscode-sideBar-background);
    border-top-color: var(--vscode-sideBar-background);
    flex-shrink: unset;
    word-break: break-all;
}
