section#list_editor {
    display: none;

    width: 540px;
}

section#list_editor table {
    border-spacing: 10px 5px;
}

section#list_editor table thead tr th:first-child {
    text-align: left;
}

section#list_editor table tbody tr td {
    text-align: center;
}

section#list_editor table tbody tr td:first-child {
    text-align: left;
}

section#list_editor table tbody tr td input {
    width: 200px;

    margin: 0px;
}

section#list_editor table tbody tr td select {
    width: 60px;
}

section#list_editor table tbody tr td button {
    margin-right: 5px;
    padding: 3px 6px;
}
