section#task_editor {
    display: none;
}

section#task_editor label {
    display: flex;

    flex-wrap: wrap;
    align-items: center;

    width: 240px;

    margin: 3px 0px;
}

section#task_editor label span {
    display: inline-block;

    width: 52px;
    height: 18px;

    border-style: solid;
    border-width: 2px;
    border-color: var(--vscode-activityBar-background);
    padding: 3px;

    text-align: center;
    overflow: hidden;
}

section#task_editor label select {
    width: 80px;
}

h4 {
    margin: 5px;

    text-align: center;
}

section#task_editor table {
    border-spacing: 5px;
}

section#task_editor table thead tr th, section#task_editor table tbody tr td {
    width: 25px;
}

section#task_editor table thead tr th {
    font-weight: bolder;
}

section#task_editor table tbody tr td {
    height: 25px;

    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    border-bottom-color: inherit;

    text-align: center;
}

section#task_editor table tbody tr td.other_month {
    color: var(--vscode-input-placeholderForeground);
}

section#task_editor table tbody tr td.check {
    border-color: inherit;
}
